{% extends 'base.html' %}

{% block content %}
    <div class="posts">
        <img src="data:image/png;base64,{{ current_user.img|base64_encode }}" alt="Avatar" class="avatar">
        <h1><b>{{current_user.name}}</b></h1>
        <h2><em>@{{current_user.handle}}</em></h2>
        <br>
        <form action="{{ url_for('main.newPost')}}" method="POST">
          <textarea name="text" class="postText" placeholder="Type your post here..."></textarea>
          <input type="submit" class="postButton">
        </form>
    </div>
{% endblock %}