{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="profileDescription">
            <img src="data:image/png;base64,{{ user.img|base64_encode }}" alt="Avatar" class="avatar">
            <div class="name">
                <h1>{{user.name}}</h1>
                <h2><em>@{{user.handle}}</em></h2>
            </div>
            <div class="numFollowers">
                <div class="centerFollowing">
                    <h1><a href="/profile/{{ user.id }}/followers" class="followerButton">{{numFollowers}}</a></h1>
                    <h2><em>Followers</em></h2>
                </div>
            </div>
            <div class="numFollowing">
                <div class="centerFollowing">
                    <h1><a href="/profile/{{ user.id }}/following" class="followerButton">{{numFollowing}}</a></h1>
                    <h2><em>Following</em></h2>
                </div>
            </div>
            <div class="following">
            {% if followButton == "follow" %}
                <form action="{{ url_for('main.follow', userID=user.id) }}" method="post">
                    <input class="button" type="submit" value="Follow">
                </form>
            {% elif followButton == "unfollow" %}
                <form action="{{ url_for('main.unfollow', userID=user.id) }}" method="post">
                    <input class="button" type="submit" value="Unfollow">
                </form>
            {% endif %}
        </div>
            
        </div>
        <br>
        <section>
            {% include 'posts_template.html' %}
        </section>
    </section>
{% endblock %}
