<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Microblogging app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cooking.css') }}">    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="navbar">
            <h1 href="/">Cooking Recipes</h1>
                <ul>  
                {% if current_user.is_authenticated: %}
                    <li><a href="/profile/{{ current_user.id }}">Profile</a></li>
                    <li><a href="/newRecipe">New Recipe</a></li>
                    <li><a href="/logout">Log Out</a></li>
                {% else %}
                    <li><a href="/login">Log In</a></li>
                {% endif %}
                    
                </ul>

        </div>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='microblog.js') }}"></script>

    </body>
</html>
