<div class="recipePage">
    <img src="static/potato.jpg" alt="Avatar" class="recipeCoverPhoto">
    <h1 class><b>Potatoes</b></h1>
    <h2><em>Yummy rustic poatoes for any occasion, made with a whole bunch of delicious stuff</em></h2> 

    <span class="cookingInfo">
        <h4 class="recipeInfo"><i class="material-icons">timer</i>60 minutes</h4>
        <h4 class="recipeInfo"><i class="material-icons">person</i>4 people</h4>
        <!--   ADD AUTHENTICATION FOR THIS  -->
        <a href="/" class="bookmark"><h4 class="recipeInfo bookmarkHover"><i class="material-icons">bookmark</i>Bookmark</h4></a>
    </span>

    <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="rating-value">4.2</span>
    </div>

    <br>


    <h3>Ingredients</h3>
    <ol class="recipeList">
        <li>10 Potatoes</li>
        <li>1/2 tsp Salt</li>
        <li>1/2 tsp Pepper</li>
        <li>2 bunches Rosemary</li>
        <li>2 tsp Olive Oil</li>
        <li>3 cloves Garlic</li>
    </ol>

    <h3>Steps</h3>
    <ol class="recipeList">
        <li>Preheat oven to 400 degrees F</li>
        <li>Wash potatoes and dice them to be small.</li>
        <li>Mince the garlic and mix into the potatoes with the salt and pepper.</li>
        <li>Add the rosemary and the olive oil and mix thourouly.</li>
        <li>Put the potatoes in the oven and bake for 40 minutes</li>
    </ol>


    <h3>Photos</h3>
    <!--   CONDITIONAL IF THERE IS PHOTOS IF NOT DISPLAY <p> ELEMENT BELOW  -->
    <div class="photoCarousel">
        <img src="static/potato.jpg" alt="Avatar" class="carouselItem">
        <img src="static/potato.jpg" alt="Avatar" class="carouselItem">
        <img src="static/potato.jpg" alt="Avatar" class="carouselItem">
        <img src="static/potato.jpg" alt="Avatar" class="carouselItem">
        <img src="static/potato.jpg" alt="Avatar" class="carouselItem">
    </div>

    <!-- TO BE DISPLAYED IF NO PHOTOS 
        <p><em>No photos uploaded yet</em></p>
    -->

    <!--   ADD AUTHENTICATION FOR THIS  -->
    
    <a class="recipeButton button" href="/">Upload Photo</a>
    <a class="recipeButton button" href="/">Add a rating</a>
   

   


</div>