<div class="recipePage">
    <img src="static/potato.jpg" alt="Avatar" class="recipeCoverPhoto">
    <h1 class><b>Potatoes</b></h1>
    <h2><em>Yummy rustic poatoes for any occasion, made with a whole bunch of delicious stuff</em></h2> 
    <h4>Total time: 60 minutes</h4>  

    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>

    <button class="button bookmarkButton">Bookmark</button>

    <br>
    <br>

  
    
    <h3>Ingredients</h3>
    <ol>
        <li>10 Potatoes</li>
        <li>1/2 tsp Salt</li>
        <li>1/2 tsp Pepper</li>
        <li>2 bunches Rosemary</li>
        <li>2 tsp Olive Oil</li>
        <li>3 cloves Garlic</li>
    </ol>

    <h3>Steps</h3>
    <ol>
        <li>Preheat oven to 400 degrees F</li>
        <li>Wash potatoes and dice them to be small.</li>
        <li>Mince the garlic and mix into the potatoes with the salt and pepper.</li>
        <li>Add the rosemary and the olive oil and mix thourouly.</li>
        <li>Put the potatoes in the oven and bake for 40 minutes</li>
    </ol>
</div>