<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Microblogging app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="navbar">
            <img src="static/resources/{{user.img}}" alt="Avatar" class="avatar">
            <div class="name">
                <h1>{{user.name}}</h1>
                <h2><em>@{{user.handle}}</em></h2>
            </div>
        
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a class = "button" href="post.html">Post</a></li>
            </ul>
        </div>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
