<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Microblogging app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="navbar">
            {% if current_user.is_authenticated: %}
            <img src="data:image/png;base64,{{ current_user.img|base64_encode }}" alt="Avatar" class="avatar">
                <div class="name">
                    <h1>{{current_user.name}}</h1>
                    <h2><em>@{{current_user.handle}}</em></h2>
                </div>
            
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile/{{ current_user.id }}">Profile</a></li>
                    <li><a href="/newPost">New Post</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            {% endif %}
        </div>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
