<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="navbar">
        <img src="resources/sophia.png" alt="Avatar" class="avatar">
        <div class="name">
            <h1>Sophia Weiler</h1>
            <h2><em>@sophiaweiler</em></h2>
        </div>
    
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a class = "button" href="post.html">Post</a></li>
        </ul>
    </div>

    <div class="home">
        <h1><em>What's new...</em></h1>
    </div>

    <div class="multiplePosts">

        <div class="posts">
            <img src="resources/maeve.png" alt="Avatar" class="avatar">
            <h1><b>Maeve Balavender</b></h1>
            <h2><em>@maeveb</em></h2>
            <h3>15m</h3>
            <p class="postContent">So happy to be done with school for today.</p>
            <button class="replyButton">reply</button>
        </div>

        <div class="posts">
            <img src="resources/sophia.png" alt="Avatar" class="avatar">
            <h1><b>Sophia Weiler</b></h1>
            <h2><em>@sophiaweiler</em></h2>
            <h3>35m</h3>
            <p class="postContent">Just working on my Web Applications homework!!!</p>
            <button class="replyButton">reply</button>
        </div>
    
        <div class="posts">
            <img src="resources/kate.png" alt="Avatar" class="avatar">
            <h1><b>Kate Roth</b></h1>
            <h2><em>@kroth</em></h2>
            <h3>2hr</h3>
            <p class="postContent">Finally made it back to Cork :)</p>
            <button class="replyButton">reply</button>
        </div>
    
        <div class="posts">
            <img src="resources/sophia.png" alt="Avatar" class="avatar">
            <h1><b>Sophia Weiler</b></h1>
            <h2><em>@sophiaweiler</em></h2>
            <h3>2d</h3>
            <p class="postContent">Oktoberfest is so much fun!</p>
            <button class="replyButton">reply</button>
        </div>

        <div class="posts">
            <img src="resources/maeve.png" alt="Avatar" class="avatar">
            <h1><b>Maeve Balavender</b></h1>
            <h2><em>@maeveb</em></h2>
            <h3>4d</h3>
            <p class="postContent">What should I pack for this weekend?</p>
            <button class="replyButton">reply</button>
        </div>

        <div class="posts">
            <img src="resources/kate.png" alt="Avatar" class="avatar">
            <h1><b>Kate Roth</b></h1>
            <h2><em>@kroth</em></h2>
            <h3>2hr</h3>
            <p class="postContent">Getting SOOOO excited to see everyone!!!!</p>
            <button class="replyButton">reply</button>
        </div>
    </div>
    

    
  </body>
</html>