<div class="multiplePosts">
    <div class="posts message original" data-message-id="{{ post.id }}" postResponseTo="{{ post.response_to }}">
        <span>
            <img src="data:image/png;base64,{{ post.user.img|base64_encode }}" alt="Avatar" class="avatar">
            <h1><b><a href="/profile/{{ post.user.id }}" class="postLink">{{post.user.name}} </a></b></h1>
            <h2><em>@{{post.user.handle}}</em></h2>
            <h3>{{post.timestamp}}</h3>
        </span>
        <p class="postContent">{{post.text}}</p>
    </div>
</div>
