{% extends 'base.html' %}

{% block content %}
<div class="recipePage">
    <form action="/updateRecipe" class="recipeFormEdit" method="post">
        <a id="imgModalButton" href="#modal_photo" rel="modal:open"><img src="data:image/{{ recipe.img_format }};base64,{{ imgObj.image }}" alt="Avatar" class="recipeCoverPhoto clickPhoto" id="idPhoto" name="img"></a>
        <h1><b><input class="textInput" type="text" value="{{ recipe.title }}" required></b></h1>
        <h2><em><input class="textInput" type="text" value="{{ recipe.description }}" required></em></h2> 
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">

        <span class="cookingInfo">
            <h4 class="recipeInfo"><i class="material-icons">timer</i><input type="text" class="numInput" name="cooking_time" value="{{ recipe.cooking_time }}" required> minutes</h4>
            <h4 class="recipeInfo"><i class="material-icons">person</i><input type="text" class="numInput" name="num_people" value="{{ recipe.num_people }}" required> people</h4>
            <a class="edit" onclick="this.closest('form').submit();"><h4 class="recipeInfo bookmarkHover submitEdits"><i class="material-icons">check</i>Submit</h4></a>
        </span>

        <h4 class="recipeCreatedBy"><em>Created by <a href="/profile/{{recipe.user_id}}">{{recipe.user.name}}</em></a></h4>

        <h3>Ingredients</h3>
        <div class="recipeList">
            <div id="ingredients">
            {% for row in ingredients %}
                <span class="itemsAlready">
                    <input class="editInputs quantIngr" type="text" value="{{ row.quantity }}"> 
                    <input class="editInputs ingr" type="text" value="{{ row.ingredient }}">
                <button type="button" class="remove editRemove">Remove</button> 
                <br>
                </span>
            {% endfor %}
            </div>
            <a id="addIngredient"><h4 class="bookmarkHover updateRecipe"><i class="material-icons">add</i>Add Ingredients</h4></a>   
        </div>

        <h3>Steps</h3>
        <ol class="recipeList">
            <div id="steps">
                {% for step in steps %}
                <span class="itemsAlready">
                <li><input class="editInputs alrStep" type="text" value="{{ step.description }}"><button type="button" class="remove editRemove">Remove</button></li>
                </span>
                {% endfor %}
            </div>
            <a id="addStep"><h4 class="bookmarkHover updateRecipe"><i class="material-icons">add</i>Add Steps</h4></a>
        </ol>


        <h3>Photos</h3>
        {% if photos %}
            <div class="photoCarousel">
                {% for photo in photos %}
                    <img src="data:image/{{ recipe.img_format }};base64,{{ photo|base64_encode }}" alt="Avatar" class="carouselItem">
                {% endfor %}
            </div>
        {% else %}
            <p class="noPhotos"><em>No photos uploaded yet</em></p>
        {% endif %}
        
        <!-- https://www.jquerymodal.com -->
    </form>
    <!-- forms cannot be nested -->
    <div id="modal_photo" class="modal modalPopup">
        <h1 class="uploadPhotoHeader">Upload Photo</h1>
        <form action="/editPhoto" method="post" enctype="multipart/form-data">
            <!-- onlick help: https://stackoverflow.com/questions/4286466/use-a-normal-link-to-submit-a-form -->
            <input id="imgFile" class="uploadFile" type="file" name="img" accept="image/jpeg,image/png" required>
            <a id="newPFP" class="photoButton recipeButton button" >Submit Photo</a>
        </form>
    </div>
</div>

{% endblock %}

