{% extends 'base.html' %}

{% block content %}
    <div class="home">
        <div class="dropdown">
            <div class="search">
                <input name="searchVal" id="name_search" type="text" class="searchTerm" placeholder="Search by name...">
                <i class="fa fa-search searchButton"></i>
            </div>
            <div class="dropdown-content"></div>
        </div>
        <h1><em>Recipes we think you might like...</em></h1>
    </div>

    {% include 'recipeCards_template.html' %}

{% endblock %}
