{% extends 'base.html' %}

{% block content %}
<div class="recipePage">
    <h1>What is the points system?</h1>
    <p>The points system rewards a user for interacting with the website.
        Every time you create a recipe, add a picture, or otherwise
        contribute to the website, you get points!
        <ul>
            <li>Creating a recipe: +10</li>
            <li>Adding a rating: +5</li>
            <li>Submitting a picture: +5</li>
        </ul>
    </p>
    <p>You can check your point total (and your rank) on your profile.
        Remember:
        <ol>
            <li>Rookie: 0 - 99 points</li>
            <li>Contributer: 100 - 499 points</li>
            <li>Legend: 500+ points</li>
        </ol>
    </p>
    <p>Leveling up your rank allows you to access more exciting features
        within the cooking recipe website! While all users have access to the basic
        features, such as recipe creation and browsing, <b>Contributers</b> have
        the ability to add bookmarks, making accessing your favorite recipes
        easier than ever! On top of that, <b>Legends</b> have the unique chance
        to <i>change color schemes</i>, <i>search by ingredient</i>, and other 
        <b>amazing perks!</b>
    </p>
</div>
{% endblock %}