{% extends 'base.html' %}

{% block content %}

<div class="profile">
    <div class="profileHeader">
        <h1 class="profileName">Sophia</h1>
    </div>
    
    <div class="profileContent">
        <h2>Recipes</h2>
            {% if recipes is defined %}
                <div class="photoCarousel">
                    {% for recipe in recipes %}
                        {% include 'recipeCard_template.html' %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="noValue">No recipes yet</p>
            {% endif %}
        

        <h2>Photos</h2>
       
        {% if photos is defined %}
            {% for photo in photos %}
            <div class="photoCarousel">
                <img src="data:image/{{ recipe.img_format }};base64,{{ photo|base64_encode }}" alt="Avatar" class="carouselItem">
            </div>
            {% endfor %}
        {% else %}
            <p class="noValue"><em>No photos uploaded yet</em></p>
        {% endif %}

        {% if bookmarks is defined %}
        <h2>Bookmarks</h2>
            <div class="photoCarousel">
                {% for recipe in bookmarks %}
                    {% include 'recipeCard_template.html' %}
                {% endfor %}
            </div>   
        {% endif %}
        
    </div>
    
</div>





<!--<div>
    <h1 class="profileName">Sophia</h1>

    <h2 class="profileRecipes">Recipes</h2>
    <div class="photoCarousel">
        {% include 'recipeCards_template.html' %}
    </div>
    
</div>
-->
{% endblock %}
