{% extends 'base.html' %}

{% block content %}

<div class="profile">
    <div class="profileHeader">
        <h1 class="profileName">{{ user.name }}</h1>
    </div>
    
    <div class="profileContent">
        <h2>Recipes</h2>
        {% if recipes %}
            <div class="photoCarousel">
                {% for recipe in recipes %}
                    {% include 'recipeCard_template.html' %}
                {% endfor %}
            </div>
        {% else %}
            <p class="noValue">No recipes yet</p>
        {% endif %}
        

        <h2>Photos</h2>
        {% if submitted_photos %}
            <div class="photoCarousel photoProfile">
                {% for photo in submitted_photos %}
                    <img src="data:image/{{ photo.img_format }};base64,{{ photo.img|base64_encode }}" alt="Avatar" class="carouselItem">
                {% endfor %}
            </div>
        {% else %}
            <p class="noValue"><em>No photos uploaded yet</em></p>
        {% endif %}



        {% if currUser %}
            <h2>Bookmarks</h2>
            {% if bookmarks %}
                <div class="photoCarousel">
                    {% for recipe in bookmarks %}
                        {% include 'recipeCard_template.html' %}
                    {% endfor %}
                </div>  
            {% else %}
                <p class="noValue"><em>No bookmarks yet</em></p> 
            {% endif %}
        {% endif %}

        <br>
        <br>
        
        
    </div>
    
</div>

{% endblock %}
