{% extends 'base.html' %}

{% block content %}
<div class="recipePage">
    <img src="data:image/{{ recipe.img_format }};base64,{{ recipe.img|base64_encode }}" alt="Avatar" class="recipeCoverPhoto">
    <h1 class><b>{{ recipe.title }}</b></h1>
    <h2><em>{{ recipe.description }}</em></h2> 
    <h2>Created by <a href="/profile/{{recipe.user_id}}">{{recipe.user.name}}</a></h2>

    <span class="cookingInfo">
        <h4 class="recipeInfo"><i class="material-icons">timer</i>{{ recipe.cooking_time }} minutes</h4>
        <h4 class="recipeInfo"><i class="material-icons">person</i>{{ recipe.num_people }} people</h4>
        <!--   ADD AUTHENTICATION FOR THIS  -->
        <form action="/addBookmark" method="post">
            <!-- onlick help: https://stackoverflow.com/questions/4286466/use-a-normal-link-to-submit-a-form -->
            <a class="bookmark" onclick="this.closest('form').submit();"><h4 class="recipeInfo bookmarkHover"><i class="material-icons">bookmark</i>{{"Bookmarked!" if bookmarked else "Bookmark"}}</h4></a>
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        </form>
    </span>

    <div class="rating">
        {% if rating %}
            {% if rating > 1 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if rating > 2 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if rating > 3 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if rating > 4 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% if rating > 4.5 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% else %}
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        {% endif %}
        <span class="rating-value">
            {% if rating is none %}
                No Ratings Yet
            {% else %}
                {{ rating }}
            {% endif %}
        </span>
    </div>

    <br>

   


    <h3>Ingredients</h3>
    <div class="recipeList">
        {% for row in ingredients %}
        <label class="container">
            <input type="checkbox">
            <span class="checkmark"></span>
            {{  row.quantity }} {{ row.ingredient }}
        </label>
        {% endfor %}
    </div>

    <h3>Steps</h3>
    <ol class="recipeList">
        {% for step in steps %}
        <li>{{ step.description }}</li>
        {% endfor %}
    </ol>


    <h3>Photos</h3>
    {% if photos %}
        <div class="photoCarousel">
            {% for photo in photos %}
                <img src="data:image/{{ recipe.img_format }};base64,{{ photo|base64_encode }}" alt="Avatar" class="carouselItem">
            {% endfor %}
        </div>
    {% else %}
        <p class="noPhotos"><em>No photos uploaded yet</em></p>
    {% endif %}

    <!--   ADD AUTHENTICATION FOR THIS  -->
    
    <!-- https://www.jquerymodal.com -->
    <div id="modal_photo" class="modal modalPopup">
        <h1 class="uploadPhotoHeader">Upload Photo</h1>
        <form action="/addPhoto" method="post" enctype="multipart/form-data">
            <!-- onlick help: https://stackoverflow.com/questions/4286466/use-a-normal-link-to-submit-a-form -->
            <input class="uploadFile" type="file" name="img" accept="image/jpeg,image/png" required>
            <a class="photoButton recipeButton button" onclick="this.closest('form').submit();">Submit Photo</a>
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        </form>
    </div>
    <a  class="recipeButton button" href="#modal_photo" rel="modal:open">Upload Photo</a>
    <a class="recipeButton button" href="/">Add a rating</a>

</div>

{% endblock %}

