.navbar{
    min-width: 260px;
    height: 100%;
    position: fixed;
    background-color: #f1f1f1;
    
    padding-right: 0.5%;
}

.navbar h1{
    font-size: 200%;
    line-height: 50%;
    margin-top: 30px;
    margin-left: 10px;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover{
    background-color: #555;
    color: white;
}

.button{
    padding: 8px 16px;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    font-size: 25px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
}

.button:hover{
    background-color: #555;
    color: white;
}



.profileDescription button{
    width: 20%;
    font-size: 15px;
    display: inline-block;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 120%; 
    overflow: scroll;
}

.loginButton{
    display: inline-block; 
    margin-top: 5%;
    width: 80%;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 120%;
}

.formInput{
    margin-top: 3%;
    width: 80%;
}

.loginHeader{
    font-size: 30px;
}

.home{
    margin-left: 290px;
    padding-top: 25px;
}

.home h1{
    font-size: 150%;
    color:#555;
    margin-top: 0px;
}

.recipeCard{
    margin: 15px;
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.2s ease-in-out; 
}

.cardHeader{
    font-size: 120%;
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardSubHeader{
    font-size: 90%;
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipePhoto{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.recipeCardHref{
    text-decoration: none;
}

.recipeCard:hover{
    transform: scale(1.01); 
}

.multipleCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 290px;
}

.recipePage{
    margin-left: 260px;
    padding-bottom: 50px;
}

.recipeCoverPhoto{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.recipePage h1{
    margin-left: 30px;
    font-size: 250%;
}

.recipePage h2{
    margin-left: 30px;
    font-size: 125%;
}

.recipePage h3{
    margin-left: 30px;
    font-size: 150%;
}

.recipePage h4{
    font-size: 90%;
}
.recipePage p{
    font-size: 80%;
    text-align: center;
}

.rating{
    margin-left: 30px;
}

.recipeButton{
    text-decoration: none;
    font-size: 100%;
}

.uploadPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.photoCarousel{
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: scroll;
    display: flex;
    overflow-x: auto;
}


.carouselItem{
    width: 350px;
    object-fit: cover;
    flex: 0 0 auto; 
    padding-right: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-left: 25px;
    vertical-align:auto;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.bookmarkButton{
    font-size: 100%;
    margin-left: 10px; 
}

.bookmark{
    text-decoration: none;
}

.bookmarkHover:hover{
    background-color: #555;
    color: white;
}

.fa-star:hover{
    color: gray
}

.star4:has(+ .star5:hover) {
    color: gray;
}

.star3:has(+ .star4:hover), .star3:has(~ .star5:hover) {
    color: gray;
}

.star2:has(+ .star3:hover), .star2:has(~ .star4:hover), .star2:has(~ .star5:hover) {
    color: gray;
}

.star1:has(+ .star2:hover), .star1:has(~ .star3:hover), .star1:has(~ .star4:hover), .star1:has(~ .star5:hover) {
    color: gray;
}

.recipeInfo{
    border: 1px solid #000; 
    padding: 5px; 
    display: inline-flex;
    align-items: center;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    font-size: 25px;
    margin-left: 5px;
}

.cookingInfo{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.recipeList{
    margin-left: 40px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}
  

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  

.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  

.container input:checked ~ .checkmark {
    background-color: #555;;
}
  

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  

.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.rating-value {
    margin-left: 5px;
    font-size: 100%; 
}

.checked {
    color: #ffc700;
}

.recipeForm{
    margin-left: 270px;
    padding-top: 10px;
    padding-left: 5%;
}

.recipeForm > input {
    width: 90%;
    margin-top: 5px;
}

.ingredientList{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
}

.ingredientQuant{
    margin-right: 10px;
    width: 35%;
}

.ingredientItem{
    width: 100%;
}

.ingredientHeight{
    height: 100%;
}

.ingredientQuantContainer{
    margin-right: 10px;
    width: 35%;
}

.ingredientItemContainer{
    margin-right: 20px;
    width: 35%;
}

.remove{
    padding: 2px 4px;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    text-align: center;
    align-items: right;
    height: 30px;
}

.remove:hover{
    background-color: #555;
    color: white;
}

.stepList{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.step{
    margin-right: 30px;
    width: 70%;
}

.addIngredient, .addStep , .submitButton{
    padding: 2px 4px;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    text-align: center;
    margin-bottom: 10px;
}

.addIngredient:hover, .addStep:hover , .submitButton:hover{
    background-color: #555;
    color: white;
}

.noPhotos{
    padding-bottom: 20px;
}

.modalPopup{
    height: 200px;
}

.uploadPhotoHeader{
    font-size: 150%;
    color:#555;
    padding-left: 5%;
}

.uploadFile{
    padding-bottom: 5%;
    padding-left: 5%;
}



.profile{
    margin-left: 260px;
}

.profileName{
    font-size: 300%;
    margin-top: 0px;
    text-align: center;
    color:#555;
}

.profileHeader{
    padding-top: 40px;
    background-color: #cbcbcb;
    height: 150px;
    background-image: linear-gradient(#cbcbcb, white);
}

.profileContent{
    padding-left: 20px;
}

.profileCarousel{
    margin-left: none;
}

.noValue{
    text-align: center;
}

.recipeCreatedBy{
    font-size: 200%;
    margin-left: 30px;
}

.dropdown{
    position: absolute;
    display: inline-block;
    right: 0;
}

.dropdown-content {
    background-color: #f6f6f6;
    min-width: 230px;
    z-index: 1;
}

.recipeSearchCard{
    margin-top: 3px;
    height: 50px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.2s ease-in-out; 
}

.recipeSearchPhoto{
    height: 100%;
    width: 20%;
    object-fit: cover;
}

.searchCardHeader{
    font-size: 100%;
    text-decoration: none;
}

.searchCardDescr{
    font-size: 60%;
}



