.navbar{
    min-width: 260px;
    height: 100%;
    position: fixed;
    background-color: #f1f1f1;
    
    padding-right: 0.5%;
}

.navbar h1{
    font-size: 200%;
    line-height: 50%;
    margin-top: 30px;
    margin-left: 10px;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover{
    background-color: #555;
    color: white;
}

.button{
    padding: 8px 16px ;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    font-size: 25px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
}

.button:hover{
    background-color: #555;
    color: white;
}



.profileDescription button{
    width: 20%;
    font-size: 15px;
    display: inline-block;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 120%; 
    overflow: scroll;
}

.loginButton{
    display: inline-block; 
    margin-top: 5%;
    width: 80%;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 120%;
}

.formInput{
    margin-top: 3%;
    width: 80%;
}

.loginHeader{
    font-size: 30px;
}

.home{
    margin-left: 290px;
    padding-top: 25px;
}

.home h1{
    font-size: 150%;
    color:#555;
    margin-top: 0px;
}

.recipeCard{
    margin: 15px;
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.2s ease-in-out; 
}

.recipeCard h1{
    font-size: 120%;
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipeCard h2{
    font-size: 90%;
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipePhoto{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.recipeCardHref{
    text-decoration: none;
}

.recipeCard:hover{
    transform: scale(1.01); 
}

.multipleCards {
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.recipePage{
    margin-left: 260px;
    padding-bottom: 50px;
}

.recipeCoverPhoto{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.recipePage h1{
    margin-left: 30px;
    font-size: 250%;
}

.recipePage h2{
    margin-left: 30px;
    font-size: 125%;
}

.recipePage h3{
    margin-left: 30px;
    font-size: 150%;
}

.recipePage h4{
    font-size: 90%;
}
.recipePage p{
    font-size: 80%;
    text-align: center;
}

.rating{
    margin-left: 30px;
}

.recipeButton{
    text-decoration: none;
    font-size: 100%;
    margin-right: 50px;
    margin-left: 50px;

}

.uploadPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.photoCarousel{
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: scroll;
    display: flex;
    overflow-x: auto;
}

.carouselItem{
    width: 350px;
    object-fit: cover;
    flex: 0 0 auto; 
    padding-right: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-left: 25px;
    vertical-align:auto;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.bookmarkButton{
    font-size: 100%;
    margin-left: 10px; 
}

.bookmark{
    text-decoration: none;
}

.bookmarkHover:hover{
    background-color: #555;
    color: white;
}

.recipeInfo{
    border: 1px solid #000; 
    padding: 5px; 
    display: inline-flex;
    align-items: center;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    font-size: 25px;
    margin-left: 5px;
}

.cookingInfo{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.recipeList{
    margin-left: 40px;
}

.rating-value {
    margin-left: 5px;
    font-size: 100%; 
}

.checked {
    color: #ffc700;
}

.recipeForm{
    margin-left: 270px;
    padding-top: 10px;
    padding-left: 5%;
}

.recipeForm > input {
    width: 90%;
    margin-top: 5px;
}

.ingredientList{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.ingredientQuant{
    margin-right: 10px;
    width: 35%;

}

.ingredientItem{
    margin-right:20px;
    width: 35%;
}

.remove{
    padding: 2px 4px;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    text-align: center;
    align-items: right;
}

.remove:hover{
    background-color: #555;
    color: white;
}

.otherQuant{


}

.otherIngredient{

}

.stepList{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.step{
    margin-right: 30px;
    width: 70%;
}

.addIngredient, .addStep , .submitButton{
    padding: 2px 4px;
    background-color:  #f1f1f1;
    color: black;
    border: 2px solid #555;
    text-align: center;
    margin-bottom: 10px;
}

.addIngredient:hover, .addStep:hover , .submitButton:hover{
    background-color: #555;
    color: white;
}



